$primary-color: #00B0CA;
$white-color: #ffffff;
$auna-grey-100: #9194a7;
$auna-grey-90: #646464;
$auna-grey-80: #ced4da;
$auna-grey-20: #e9ecef;
$auna-orange-100: #f59401;
$auna-purple-100: #4C1484;
$auna-green-40: #B4C424;