<footer class="footer-content bg-auna-primary">
    <div class="container">
        <div class="row footer-top border-bottom-footer">
            <h3 class="auna-description col-12 col-sm-12 col-md-8">Auna Svida es la línea de productos de salud de Oncosalud S.A.C.</h3>
        </div>
        <div class="row footer-bottom">
            <div class="col-sm-6 col-xs-6 text-start all-rights-reserved">Auna &COPY; {{currentYear}} | Todos los derechos reservados</div>
            <div class="col-sm-6 col-xs-6 text-end terms-and-conditions">
                <a href="https://marketing.oncosalud.pe/terminos-condiciones-ecommerce" target="_blank">Términos y
                    Condiciones</a>
            </div>
        </div>
    </div>
</footer>