<header class="header-content bg-auna-primary">
  <div class="container">
    <nav class="navbar">
      <br>
      <br>
    </nav>
  </div>
</header>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-6 text-start">
      <a routerLink="/"><img src="assets/images/logo-auna.png" alt="Logo AUNA"></a>
    </div>
    <div class="col-6 text-end">
      <a routerLink="/"><img src="assets/images/logo-auna2.png" alt="Logo OncoSalud"></a>
    </div>
  </div>
</div>
<br>
<br>