d
<div class="membership-page-content container">
    <div class="membership-banner row">
        <img [src]="program.banner" [alt]="program.title" />
    </div>
    <div class="information-content row mt-5">
        <h4 class="text-center membership-title">{{ program.title }}</h4>
    </div>
    <div class="price-information row">
        <div class="col-12 col-sm-12 col-md-3 mt-3"></div>
        <div class="col-12 col-sm-12 col-md-6 mt-3 padding-none">
            <div class="step-wizard">
                <div class="step step-line done">
                    <div class="step-number bg-auna">1</div>
                    <div class="step-name">Identificación</div>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <div class="step-name">Afiliación</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 mt-3">
            <div class="price-tag">
                <div class="price-title">Pago desde</div>
                <div class="price">
                    <span class="price-symbol">S/</span>
                    <span class="text-highlight entire-price">0</span>
                    <span class="text-highlight decimal-price">.00</span>
                    <div><small>(Incluye IGV)</small></div>
                </div>
            </div>
        </div>
    </div>
    <div class="identity-content row">
        <div class="col-12">
            <h4>Identifícate con los datos de tu DNI</h4>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="acceptPolicies"
                    name="acceptPolicies"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    <a href="javascript:void(0)"
                        >Acepto las Políticas de privacidad de datos
                        personales</a
                    >
                </label>
            </div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="additionalPurposes"
                    name="additionalPurposes"
                />
                <label class="form-check-label" for="flexCheckChecked">
                    <a href="javascript:void(0)"
                        >Autorizo el uso de mis datos para fines adicionales</a
                    >
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="acceptPolicies" class="search-information">
        <div class="row control-group mt-3">
            <div class="form-group col-12 col-sm-12 col-md-6">
                <div>
                    <label>Empresa</label>
                </div>
                <ng-select2
                    [data]="enterprises"
                    [width]="'resolve'"
                    [(ngModel)]="enterpriseSelected"
                >
                </ng-select2>
            </div>
            <div class="col-12 col-sm-12 col-md-6"></div>
        </div>
        <div class="row control-group mt-3">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="form-group col-6">
                        <div>
                            <label for="exampleFormControlSelect1"
                                >Documento</label
                            >
                        </div>
                        <ng-select2
                            [data]="documents"
                            [width]="'resolve'"
                            [(ngModel)]="documentSelected"
                        >
                        </ng-select2>
                    </div>
                    <div class="form-group col-6">
                        <label for="exampleFormControlSelect1">Número</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <button
                    class="btn w-100 btn-primary btn-search-info"
                    (click)="onSearchInformation()"
                    type="button"
                >
                    Buscar
                </button>
            </div>
            <div class="col-8 col-md-3">
                <div class="mt-4 mt-md-0">
                    <label for="formFile" class="d-none d-md-block"
                        >Subir Documento</label
                    >
                    <input class="form-control" type="file" id="formFile" />
                </div>
            </div>
        </div>

        <div class="row control-group mt-3">
            <div class="form-group col-6 col-md-3">
                <label for="exampleFormControlSelect1">Apellido Paterno</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group col-6 col-md-3">
                <label for="exampleFormControlSelect1"
                    >Apellido Materno
                    <span class="optional-text-modifier"
                        >(opcional)</span
                    ></label
                >
                <input type="text" class="form-control" />
            </div>
            <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                <label for="exampleFormControlSelect1">Nombres</label>
                <input type="text" class="form-control" />
            </div>
            <div
                class="form-group col-12 col-md-3 d-flex flex-column justify-content-center mt-3"
            >
                <label for="inlineRadioOptions">Sexo</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio1"
                            value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                            >M</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio2"
                            value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                            >F</label
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row control-group mt-3">
            <div class="form-group col-12 col-md-3">
                <label for="exampleFormControlSelect1">Estado Civil</label>
                <ng-select2
                    [data]="documents"
                    [width]="'resolve'"
                    [(ngModel)]="documentSelected"
                >
                </ng-select2>
            </div>
            <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                <label for="exampleFormControlSelect1"
                    >Fecha de Nacimiento</label
                >
                <input type="date" class="form-control" />
            </div>
            <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                <label for="exampleFormControlSelect1"
                    >Correo Electronico</label
                >
                <input type="email" class="form-control" />
            </div>
            <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                <label for="exampleFormControlSelect1">Telefono Celular</label>
                <input type="tel" class="form-control" />
            </div>
        </div>
        <div class="row control-group mt-3">
            <div class="form-group col-12 col-sm-12 col-md-6 mt-3 mt-md-0">
                <div>
                    <label>Localidad</label>
                </div>
                <ng-select2
                    [data]="enterprises"
                    [width]="'resolve'"
                    [(ngModel)]="enterpriseSelected"
                >
                </ng-select2>
            </div>
            <div class="form-group col-12 col-sm-12 col-md-6 mt-3 mt-md-0">
                <div>
                    <label>Direccion</label>
                </div>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="row control-group mt-3">
            <div
                class="form-group col-12 col-md-12 d-flex flex-column justify-content-center"
            >
                <label for="inlineRadioOptions"
                    >¿Cual es su condición de fumador?</label
                >
                <div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio1"
                            value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                            >No fumo</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio2"
                            value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                            >Sí, fumo</label
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row control-group mt-3 mb-5">
            <div
                class="form-group col-12 col-md-12 d-flex flex-column justify-content-center"
            >
                <label for="inlineRadioOptions"
                    >¿Tiene, ha tenido o está siendo estudiado por alguna
                    enfermedad oncológica?</label
                >
                <div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio1"
                            value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                            >Si</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio2"
                            value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                            >No</label
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row control-group mt-5">
            <div
                class="form-group col-12 col-md-12 d-flex flex-column justify-content-center"
            >
                <label for="inlineRadioOptions"
                    >¿Desea afiliar a alguien más?</label
                >
                <div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio1"
                            value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                            >Si</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="inlineRadio2"
                            value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                            >No</label
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="new-affiliate-container mt-5">
            <svg
                class="person-icon"
                viewBox="0 0 48 48"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
            >
                <title>ic_fluent_person_48_filled</title>
                <desc>Created with Sketch.</desc>
                <g
                    id="🔍-System-Icons"
                    stroke="none"
                    stroke-width="1"
                    fill="rgba(0, 0, 0, 0.1)"
                    fill-rule="evenodd"
                >
                    <g id="ic_fluent_person_48_filled" fill-rule="nonzero">
                        <path
                            d="M35.7502,28 C38.0276853,28 39.8876578,29.7909151 39.9950978,32.0427546 L40,32.2487 L40,33 C40,36.7555 38.0583,39.5669 35.0798,41.3802 C32.1509,43.1633 28.2139,44 24,44 C19.7861,44 15.8491,43.1633 12.9202,41.3802 C10.0319285,39.6218485 8.11862909,36.9249713 8.00532378,33.3388068 L8,33 L8,32.2489 C8,29.9703471 9.79294995,28.1122272 12.0440313,28.0048972 L12.2499,28 L35.7502,28 Z M24,4 C29.5228,4 34,8.47715 34,14 C34,19.5228 29.5228,24 24,24 C18.4772,24 14,19.5228 14,14 C14,8.47715 18.4772,4 24,4 Z"
                            id="🎨-Color"
                        ></path>
                    </g>
                </g>
            </svg>
            <svg
                class="close-icon"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g data-name="Layer 2">
                    <g data-name="close-circle">
                        <rect width="24" height="24" opacity="0" />
                        <path
                            d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm2.71 11.29a1 1 0 0 1 0 1.42 1 1 0 0 1-1.42 0L12 13.41l-1.29 1.3a1 1 0 0 1-1.42 0 1 1 0 0 1 0-1.42l1.3-1.29-1.3-1.29a1 1 0 0 1 1.42-1.42l1.29 1.3 1.29-1.3a1 1 0 0 1 1.42 1.42L13.41 12z"
                        />
                    </g>
                </g>
            </svg>
            <div class="row control-group mt-3">
                <div class="form-group col-6 col-md-3">
                    <div>
                        <label for="exampleFormControlSelect1"
                            >Parentesco</label
                        >
                    </div>
                    <ng-select2
                        [data]="documents"
                        [width]="'resolve'"
                        [(ngModel)]="documentSelected"
                    >
                    </ng-select2>
                </div>

                <div class="form-group col-6 col-md-3">
                    <div>
                        <label for="exampleFormControlSelect1">Documento</label>
                    </div>
                    <ng-select2
                        [data]="documents"
                        [width]="'resolve'"
                        [(ngModel)]="documentSelected"
                    >
                    </ng-select2>
                </div>
                <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                    <label for="exampleFormControlSelect1">Numero</label>
                    <input type="tel" class="form-control" />
                </div>
            </div>
            <div class="row control-group mt-3">
                <div class="form-group col-6 col-md-3">
                    <label for="exampleFormControlSelect1"
                        >Apellido Paterno</label
                    >
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group col-6 col-md-3">
                    <label for="exampleFormControlSelect1"
                        >Apellido Materno
                        <span class="optional-text-modifier"
                            >(opcional)</span
                        ></label
                    >
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                    <label for="exampleFormControlSelect1">Nombres</label>
                    <input type="text" class="form-control" />
                </div>
                <div
                    class="form-group col-12 col-md-3 d-flex flex-column justify-content-center mt-3"
                >
                    <label for="inlineRadioOptions">Sexo</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio1"
                                value="option1"
                            />
                            <label class="form-check-label" for="inlineRadio1"
                                >M</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio2"
                                value="option2"
                            />
                            <label class="form-check-label" for="inlineRadio2"
                                >F</label
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row control-group mt-3">
                <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                    <label for="exampleFormControlSelect1"
                        >Fecha de Nacimiento</label
                    >
                    <input type="date" class="form-control" />
                </div>
                <div class="form-group col-12 col-md-6 mt-3 mt-md-0">
                    <label for="exampleFormControlSelect1"
                        >Correo Electronico</label
                    >
                    <input type="email" class="form-control" />
                </div>
                <div class="form-group col-12 col-md-3 mt-3 mt-md-0">
                    <label for="exampleFormControlSelect1"
                        >Telefono Celular</label
                    >
                    <input type="tel" class="form-control" />
                </div>
            </div>
            <div class="row control-group mt-3">
                <div class="form-group col-12 col-sm-12 col-md-6 mt-3 mt-md-0">
                    <div>
                        <label>Localidad</label>
                    </div>
                    <ng-select2
                        [data]="enterprises"
                        [width]="'resolve'"
                        [(ngModel)]="enterpriseSelected"
                    >
                    </ng-select2>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 mt-3 mt-md-0">
                    <div>
                        <label>Direccion</label>
                    </div>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row control-group mt-3">
                <div
                    class="form-group col-12 col-md-12 d-flex flex-column justify-content-center"
                >
                    <label for="inlineRadioOptions"
                        >¿Cual es su condición de fumador?</label
                    >
                    <div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio1"
                                value="option1"
                            />
                            <label class="form-check-label" for="inlineRadio1"
                                >No fumo</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio2"
                                value="option2"
                            />
                            <label class="form-check-label" for="inlineRadio2"
                                >Sí, fumo</label
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row control-group mt-3 mb-5">
                <div
                    class="form-group col-12 col-md-12 d-flex flex-column justify-content-center"
                >
                    <label for="inlineRadioOptions"
                        >¿Tiene, ha tenido o está siendo estudiado por alguna
                        enfermedad oncológica?</label
                    >
                    <div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio1"
                                value="option1"
                            />
                            <label class="form-check-label" for="inlineRadio1"
                                >Si</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio2"
                                value="option2"
                            />
                            <label class="form-check-label" for="inlineRadio2"
                                >No</label
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row control-group mt-3 col-6 col-md-6 col-lg-3">
            <button type="button" class="btn btn-outline-dark">
                Añadir nuevo afiliado
            </button>
        </div>
        <div class="row control-group mt-3 mb-3 identity-content">
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="additionalPurposes"
                    name="additionalPurposes"
                />
                <label class="form-check-label" for="flexCheckChecked">
                    <a href="javascript:void(0)"
                        >Autorizo el uso de mis datos para fines adicionales</a
                    >
                </label>
            </div>
        </div>
        <div
            class="row control-group mt-3 justify-content-center align-items-center"
        >
            <div
                class="col-12 col-sm-12 col-md-3 d-flex justify-content-center align-items-center"
            >
                <button
                    class="btn btn-primary btn-lg"
                    (click)="onSearchInformation()"
                    type="button"
                >
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>
