@import "../../../core/styles/variables.scss";

.busqueda{
    width: calc(100% - 1.5rem);
    border: 1px solid rgba(0, 0, 0, 0.108);
    background-color: white;
}

.localidades-select{
    overflow-y: scroll;
    max-height: 400px;
    background-color: white;
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding-left: 0;
    // position: absolute;
    cursor: pointer;
    li:hover{
        color:white;
        background-color: #5897fb;
    }
}

.membership-page-content {
    .btn-primary {
        line-height: 20px;
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        color: $white-color;
        &:hover {
            color: $white-color;
        }
    }
    .membership-banner {
        img {
            width: 100%;
        }
    }
    .information-content {
        .membership-title {
            color: $primary-color;
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    .search-information {
        .control-group {
            .btn-search-info {
                margin-top: 25px;
            }
            .form-group {
                .select2-container {
                    width: 100% !important;
                }
            }
        }
    }
    .identity-content {
        margin-bottom: 15px;
        h4 {
            color: $auna-grey-90;
            font-size: 22px;
            padding-left: 0px;
            padding-bottom: 10px;
        }
        .form-check {
            .form-check-label {
                padding-bottom: 10px;
                a {
                    color: $primary-color;
                    text-decoration: none;
                    &:hover {
                        color: $auna-grey-90;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .price-information {
        .padding-none {
            padding: 0px;
        }
        .step-wizard {
            padding-left: 50px;
            text-align: center;
            max-width: 920px;
            margin: 20px auto 60px;
            .step-line {
                &::before {
                    content: "";
                    width: 160px;
                    height: 4px;
                    background-color: $primary-color;
                    position: absolute;
                    z-index: -1;
                    top: 30px;
                    left: 40px;
                }
                .step-name {
                    margin-left: -4px;
                }
            }
            .step {
                width: 90px;
                display: inline-block;
                margin-right: 60px;
                position: relative;
                z-index: 1;
                .bg-auna {
                    background-color: $primary-color !important;
                    color: $white-color !important;
                }
                .step-number {
                    background: $white-color;
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    line-height: 1;
                    font-size: 30px;
                    padding-top: 12px;
                    border: 3px solid $primary-color;
                    font-weight: 700;
                    margin: auto;
                    color: $primary-color;
                }
                .step-name {
                    margin-top: 10px;
                    color: $primary-color;
                }
            }
        }
        .price-tag {
            border-radius: 5px;
            border: 3px solid $primary-color;
            margin: auto auto 30px;
            text-align: center;
            padding: 20px 10px;
            width: 100%;
            font-size: 18px;
            max-width: 240px;
            .price-title {
                color: $auna-grey-90;
                font-weight: 400;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
            }
            .price {
                color: $auna-grey-90;
                font-weight: 500;
                position: relative;
                margin: auto;
                display: table;
                .price-symbol {
                    position: relative;
                    top: -15px;
                }
                .entire-price {
                    font-size: 60px;
                    line-height: 1;
                }
                .decimal-price {
                    position: relative;
                    top: -15px;
                }
                .text-highlight {
                    color: $primary-color;
                }
            }
        }
    }
}
.optional-text-modifier {
    font-size: 0.8rem;
}
.new-affiliate-container {
    background-color: #eef7f2;
    padding: 2em 6em;
    position: relative;
    .person-icon {
        position: absolute;
        left: 1.3em;
        top: 4em;
        fill: rgba(0, 0, 0, 0.34);
        width: 60px;
    }
    .close-icon {
        position: absolute;
        right: -15px;
        top: -15px;
        width: 50px;
        height: 50px;
        fill: $primary-color;
        cursor: pointer;
    }
}
.success-form-container {
    .success-form-container__content {
        color: #198754;
        background-color: #def0d8;
        svg {
            width: 120px;
            margin-right: 2em;
            path {
                fill: #198754;
            }
        }
    }
}
